body {
    display: flex;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

#app p:active, #app p:focus, #app p:focus-within {
    border: 2px solid #000;
    outline: 2px solid #000;
    opacity: 1;
}

.controls {
    padding: 1.5rem;
}

.page {
    border: 1px solid black;
}